<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EDITAR MARCA</title>
</head>
<body>
<h2>EDITAR REGISTRO DE MARCA</h2>
<form th:action="@{/marcas/actualizar}" method="post">
    <input type="hidden" name="id" th:value="${marca.id}">

    <label>Nombre:</label>
    <input type="text" name="nombre" th:value="${marca.nombre}" required><br><br>

    <label>País:</label>
    <input type="text" name="pais" th:value="${marca.pais}" required><br><br>

    <label>Año de Fundación:</label>
    <input type="number" name="fundacion" th:value="${marca.fundacion}" required><br><br>

    <button type="submit">Actualizar</button>
    <a th:href="@{/marcas}">Cancelar</a>
</form>
</body>
</html>