<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Marcas</title>
</head>
<body>
<h2>Listado de Marcas</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>País Origen</th>
        <th>Fundación</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a : ${marcas}">
        <td th:text="${a.id}"></td>
        <td th:text="${a.nombre}"></td>
        <td th:text="${a.pais}"></td>
        <td th:text="${a.fundacion}"></td>
        <td>
            <a th:href="@{/marcas/editar/{id}(id=${a.id})}">Editar</a> |
            <a th:href="@{/marcas/eliminar/{id}(id=${a.id})}">Eliminar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>